html,body,div{
	margin:0px;
	padding:0px;
	font-size:24px;
}


.wrap{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:#def;
	overflow:hidden;
}

.container{	
	width:100%;
	border:1px dashed gray;
	border-radius:15px;
}

.form-group{
	width:100%;
	height:60px;
	line-height:60px;
	clear:both;
}

.control-label{
	float:left;
	width:20%;
	display:block;
	text-align:right;
	margin-right:15px;
}
#logintitle{
	color:blue;
	text-align:center;
	margin:10px;
	font-size:20px;
}

input{
	float:left;
	width:40%;
	height:24px;
	margin-top:20px;
}

.help-block{
	float:left;
	color:red;
	margin-top:20px;
	line-height:20px;
}

.captcha{
	float:right;
	margin:5px 10px 5px 5px;
}
.button-group{
	margin-left:30%;
	margin-top:20px;
}
button{
	width:30%;
	padding:3px 10px;
	margin:5px 18px;
}

.footer{
	text-align:center;
}